shared/src/osml/osml-schema.json
{
  "$schema": "https://json-schema.org/draft/2020-12/schema",
  "title": "Open State Language",
  "type": "object",
  "required": ["StartAt", "States"],
  "properties": {
    "Comment": { "type": "string" },
    "StartAt": { "type": "string" },
    "TimeoutSeconds": { "type": "integer", "minimum": 1 },
    "QueryLanguage": { "enum": ["JSONPath", "JSONata"] },
    "States": {
      "type": "object",
      "additionalProperties": {
        "oneOf": [
          { "$ref": "#/$defs/taskState" },
          { "$ref": "#/$defs/passState" },
          { "$ref": "#/$defs/waitState" },
          { "$ref": "#/$defs/choiceState" },
          { "$ref": "#/$defs/parallelState" },
          { "$ref": "#/$defs/mapState" },
          { "$ref": "#/$defs/succeedState" },
          { "$ref": "#/$defs/failState" },
          { "$ref": "#/$defs/startExecutionState" }
        ]
      }
    }
  },
  "$defs": {
    "commonState": {
      "type": "object",
      "properties": {
        "Comment": { "type": "string" },
        "InputPath": { "type": "string" },
        "OutputPath": { "type": "string" },
        "ResultPath": { "type": "string" },
        "ResultSelector": { "type": "object" },
        "TimeoutSeconds": { "type": "integer" },
        "Retry": { "type": "array" },
        "Catch": { "type": "array" }
      }
    },
    "taskState": {
      "allOf": [
        { "$ref": "#/$defs/commonState" },
        {
          "type": "object",
          "required": ["Type", "Resource"],
          "properties": {
            "Type": { "const": "Task" },
            "Resource": { "type": "string" },
            "Code": { "type": "string" },
            "WaitForTaskToken": { "type": "boolean" },
            "ActivityName": { "type": "string" },
            "Next": { "type": "string" },
            "End": { "type": "boolean" }
          }
        }
      ]
    },
    "passState": {
      "allOf": [
        { "$ref": "#/$defs/commonState" },
        {
          "type": "object",
          "required": ["Type"],
          "properties": {
            "Type": { "const": "Pass" },
            "Result": {},
            "Next": { "type": "string" },
            "End": { "type": "boolean" }
          }
        }
      ]
    },
    "waitState": {
      "allOf": [
        { "$ref": "#/$defs/commonState" },
        {
          "type": "object",
          "required": ["Type"],
          "properties": {
            "Type": { "const": "Wait" },
            "Seconds": { "type": "integer" },
            "Next": { "type": "string" },
            "End": { "type": "boolean" }
          }
        }
      ]
    },
    "choiceState": {
      "type": "object",
      "required": ["Type", "Choices"],
      "properties": {
        "Type": { "const": "Choice" },
        "Choices": { "type": "array" },
        "Default": { "type": "string" }
      }
    },
    "parallelState": {
      "type": "object",
      "required": ["Type", "Branches"],
      "properties": {
        "Type": { "const": "Parallel" },
        "Branches": { "type": "array" },
        "Next": { "type": "string" },
        "End": { "type": "boolean" }
      }
    },
    "mapState": {
      "type": "object",
      "required": ["Type", "Iterator"],
      "properties": {
        "Type": { "const": "Map" },
        "Iterator": { "type": "object" },
        "ItemsPath": { "type": "string" },
        "ItemSelector": { "type": "object" },
        "MaxConcurrency": { "type": "integer" },
        "ToleratedFailurePercentage": { "type": "integer" },
        "Next": { "type": "string" },
        "End": { "type": "boolean" }
      }
    },
    "succeedState": {
      "type": "object",
      "required": ["Type"],
      "properties": { "Type": { "const": "Succeed" } }
    },
    "failState": {
      "type": "object",
      "required": ["Type"],
      "properties": {
        "Type": { "const": "Fail" },
        "Error": { "type": "string" },
        "Cause": { "type": "string" }
      }
    },
    "startExecutionState": {
      "type": "object",
      "required": ["Type", "StateMachineName"],
      "properties": {
        "Type": { "const": "StartExecution" },
        "StateMachineName": { "type": "string" },
        "Input": {},
        "Next": { "type": "string" },
        "End": { "type": "boolean" }
      }
    }
  }
}
